body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: #E5E8EF;
  background: url('degrade-de-fundo-azul_23-2149322706.avif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #8CB20A;
  padding-top: 50px;
  
}

h2 {
  color: #F3BE3F;
}

.input_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 15px;
}

.container {
  background-color: black;
  display: inline-flex;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 50px;
  box-shadow: 0px 0px 50px 10px rgb(189, 188, 188);
}

.area {
  display: flex;
  justify-content: center;
  height: 500px;
}

button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 100px;
  
}

textarea {
  margin: 20px;
  width: 300px;
}

button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}